body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    max-width: 100%;
    display: block;
}

h1, ul, p{
    margin: 0px;
}

.header-bg{
    background-color: #000;

}

.header{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header-menu{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.header-menu a{
    padding-top: 16px 0px;
    display: inline-block;
    color: #FFF;
    font-size: 1.125rem;
    position: relative;
}

.header-menu a::after{
    position: absolute;
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    background: #FFF;
    margin-top: 4px;
    transition: 0.3s;
}

.header-menu a:hover:after{
    width: 100%;
}

@media (max-width: 800px){

    .header-menu{
        gap: 20px;
    }

    .header-menu a{
        background: #111;
        padding: 12px 16px;
        border-radius: 4px;
    }

    .header-menu a:hover{
        background: #2E2E2E;
    }

    .header a::after{
        display: none;
    }

}

@media (max-width: 600px){

    .header-menu{
        gap: 12px;
    }

    .header-menu a{
        padding: 8px 12px;
        font-size: 0.875rem;
    }

    .header a::after{
        display: none;
    }

}

.introducao-bg{
    background: #000;
    color: #FFF;
    box-shadow: inset 0 -120px #FFF;
}

.introducao{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 40px;
    box-sizing: border-box;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.introducao h1{
    margin-bottom: 32px;
    font-size: 4rem;
    line-height: 1.125;
}

.introducao p{
    margin-bottom: 20px;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #B2B2B2;
}

.introducao a{
    padding:  16px 32px;
    background: linear-gradient(#FFBF00, #F2A50C);
    display: inline-block;
    border-radius: 4px;
    box-shadow: 0px 1px 2px rgba(0,0, 0, 0.1);
    text-transform: uppercase;
    color: #332200;
    font-size: 1.125rem;
    line-height: 1.33;
    font-weight: bold;
}

.introducao a:hover{
    background: linear-gradient(#FFB60D, #E59317);
}

.introducao img{
    height: 100%;
    object-fit: cover;
    border-radius: 4PX;
}

.introducao-conteudo{
    align-self: end;
    padding-bottom: 200px;
}

.introducao h1 span{
    color: #FFBB00;
}

