.botao{
    font-family: 'Poppins';
    font-weight: 600;
    padding:  16px 32px;
    background: linear-gradient(var(--cor-p-06), var(--cor-p-07));
    display: inline-block;
    border-radius: 4px;
    box-shadow: 0px 1px 2px rgba(0,0, 0, 0.1);
    text-transform: uppercase;
    color: #332200;
    font-size: 1.125rem;
    line-height: 1.33;
}

.botao:hover{
    background: linear-gradient(var(--cor-p-08), var(--cor-p-09));
}

@media (max-width: 600px){
    .botao a{
        padding: 12px 16px;
        font-size: 1rem;
    }
}