.header-bg{
    background-color: var(--cor-12);

}

.header{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header-menu{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.header-menu a{
    font-family: 'Poppins';
    font-weight: 400;
    padding-top: 16px 0px;
    display: inline-block;
    color: var(--cor-00);
    font-size: 1.125rem;
    position: relative;
}

.header-menu a::after{
    position: absolute;
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    background: var(--cor-00);
    margin-top: 4px;
    transition: 0.3s;
}

.header-menu a:hover:after{
    width: 100%;
}

@media (max-width: 800px){

    .header-menu{
        gap: 20px;
    }

    .header-menu a{
        background: var(--cor-11);
        padding: 12px 16px;
        border-radius: 4px;
    }

    .header-menu a:hover{
        background: var(--cor-10);
    }

    .header a::after{
        display: none;
    }

}

@media (max-width: 600px){

    .header-menu{
        gap: 12px;
    }

    .header-menu a{
        padding: 8px 12px;
        font-size: 0.875rem;
    }

    .header a::after{
        display: none;
    }

}